/*
li a {
    color: red;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}

.nav a {
padding: 10px 10px;
display:inline-block;
}
*/
