<!DOCTYPE html>
<html lang="en">
    {% extends 'races/base.html' %}
    {% load static %}

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'races/style.css' %}">

        <meta charset="UTF-8">
        <title>Race Information</title>
    </head>
    <body>
        {% block body_block %}

        <div class="container">

            <!-- Back Button -->
            <div class="col-xs-1 mt-3" align="start">
                <a href="{% url 'races:schedule' %}" class="btn btn-primary btn-sm active" role="button">Back to Schedule</a>
            </div>

            <!-- Schedule Header Column -->
            <div class="col-xs-1 mt-3" align="center">
                <h1>{{ schedule.race_name }} Race Weekend Information</h1>
            </div>

            <!-- Specific Race Info Table -->
            {% for race in schedule.race_set.all %}
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="text-center table-secondary">Track</th>
                            <td class="text-center table-secondary">{{ race.location }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">Date</th>
                            <td>{{ schedule.date }}</td>
                        </tr>
                        <tr>
                            <th class="text-center table-secondary">Race Time</th>
                            <td class="text-center table-secondary">{{ race.time }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">Practice 1 Time</th>
                            <td>{{ race.time_p1 }}</td>
                        </tr>
                        <tr>
                            <th class="text-center table-secondary">Practice 2 Time</th>
                            <td class="text-center table-secondary">{{ race.time_p2 }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">Practice 3 Time</th>
                            <td>{{ race.time_p3 }}</td>
                        </tr>
                        <tr>
                            <th class="text-center table-secondary">Practice 4 Time</th>
                            <td class="text-center table-secondary">{{ race.time_q }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}

        </div>

        {% endblock %}
    </body>
</html>